@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

.effect-div{
	background:url('../assets/canvas.png') no-repeat top center;
	width:80px;
	height: 80px;
	margin: 10px 10px;
	border-radius:40px;
}

.effects-wrapper{
	background-color:#4B4B4B;
}

.canvas{
	background:#5e5e5e;
	border-radius:10px;
	margin-top: 80px;
}

.canvas > img{
	width: inherit;
	height: auto;
	margin: auto;
	display: block;
}

.effects-sidebar{
	max-width: 500px;
	float: right;
}

.column-1{
	float: right;
}

.column-2{
	float: left;
}

.previous, .next{
	font-size:72px;
	font-family: 'Cabin Sketch', cursive;
	color:#ffda24;
}

.previous{
	float: left;
}

.next{
	float: right;
}
