@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

.effect-div > img, .sticker-div > img{
	width:80px;
	height: 80px;
	margin: 10px 10px;
	border-radius:40px;
}

.effect-div > p, .sticker-div > p{
	text-align: center;
	font-family: Schoolbell;
	color:#f9cf00;
}

.effects-wrapper{
	background-color:#4B4B4B;
}

.canvas{
	margin-top: 100px;
}

.canvas > img{
	width: 90%;
	height: auto;
	margin: auto;
	display: block;
	border-radius:10px;
	border:10px #5e5e5e solid;
}

.sidebar{
	width: 25%;
	min-width: 270px;
	float: right;
	margin-top:35px;
	margin-right:5%;
}

.column-1{
	float: left;
}

.column-2{
	float: right;
}

.previous > a, .next > a{
	text-decoration:none;
	font-size:72px;
	font-family: 'Cabin Sketch', cursive;
	color:#ffda24;
	cursor: pointer;
}

.previous{
	float: left;
	margin-top:50%;
}

.next{
	float: right;
	margin-top:30%;
}

.effects-menu, .stickers-menu{
	width: 270px;
}

.slider {
  width: 300px;

  overflow-x: hidden;
}
.slide {
  float: left;
  width: 300px;

}

.holder {
  width: 300%;
}
